h1{
    text-align: center;
    padding-top: 100px;
}
.conte{
    text-align: center;
}
.logo{
    background-size: cover;
    padding: 20px;
    margin: 20px;
}
ul{
    text-align: right;
    flex-direction: column;
    display: inline;
    font-size: large;
    font-weight: bold;
    color: white;

}
#footer1{
    background-color: black;
    background-size: cover;
}
#yellow{
    background-color: yellow;
}
.work1{
    border-radius: 10px;
}
h3{
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-style: inherit;    
}
.header{
    background-color: white;
}
.mto{
    background-color: yellow;
}
.logo{
    text-align: center;
}
body{
background-image: url(../images/first\ back.jpg);
opacity: 1;
background-repeat: no-repeat;
height: 100%;
width: 100%;
background-size: cover;
}
.landing-page{
    height: 60%;

}
.image-001{
    width: 100%;
    height: 100%;
}
.hover{
    text-align: center;
    font-family: 'Gabriela', serif;
    text-transform: capitalize;
    font-weight: bold;
    padding-top: 30px;
}
@media only screen and (min-width: 825px){
    #overlay,#overlay2,#overlay3,#overlay4{
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      padding-top:30%;
    }
    #overlay,#overlay2,#overlay3,#overlay4{
        display: none;
        color: blue;
        width: 100%;
        height: 100%;
        background-color:rgba(255, 255, 255, 0.456);
        left: 5px;
        font-weight: bold;
        text-align: center;
        font-size: 30px;
      }
    }
    .col-md-3 img{
         width: 400px;
         margin: 5px; 
         display: flex;
      } 
    .col-md-3 img{
      max-width: 100%;
      max-height: 1000px;
    }
    #portfolio {
      text-align: center;
      /* padding-top:40px; */
      font-family: monospace;
      /* padding: 250px; */
      display: flex;
      margin: 00px;
      padding: 5px;
      border-radius: 30px;
    }
      
      

    }
    .row{
        display: flex;
        padding: 3000px;
        
    }
    .conte{
        padding: 50px;
        font-size: larger;
        font-weight: bolder;
        font-family: monospace;
        glyph-orientation-horizontal: initial;
    }


}
    
      #portfolio{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left:4%;
        border-radius: 100px;
      }
      .nav{
         display: flex;
         margin: 5px;
         padding-right: 5px;
         float: right;
         font-size: larger;
         font-weight: bold;
         color:white;
         background-color: white; 
      }
      #abt,#bra,#bus,#con{
          margin: 20px;
          display: grid;
          padding: 5px;
        }

@media only screen and (min-width: 625px){
    #overlay,#overlay2,#overlay3,#overlay4{
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      /* padding-top:20%;  */
      font-size: 26px;
    }
}
#para{
    text-align: center;
    padding: 10px;
    font-size: initial;
    font-weight: bold;
    font-family: sans-serif;
}
.land{
    text-align: center;
    padding: 50px;
}
.port{
    padding: 400px;
}
#work1 #work2 #work3 #overlay #overlay2 #overlay3{
    display: inline;
    opacity: 1;
    color: chartreuse;
    text-align: center;
    background-color: darkgray;
    width: auto;
    position: absolute;

} 

h4{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.about{
    padding: 60px;
    text-align: center;
    color: black;
    padding: 100px;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    font-display: 30px;
}
.backabout{
    background-color: white;
}
.layout{
    text-align: center;
    height: 20%;
    width: 50%;
    margin-left:290px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../image/ba.webp);
    padding: 20px;
    color: black;
    font-size: 17px;
    background-color: ;
    font-weight: bolder;

}
.noma{
     background-image: url(../image/layout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    opacity: 2;
}
@media only screen and (min-width: 625px){
    #overlay,#overlay2,#overlay3,#overlay4{
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      padding-top:20%; 
      font-size: 26px;
      ;
    }


.cap{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.we{
    text-align: center;
    height: 80%;
    width: 80%;
    background-image: url(../image/pexels-fauxels-3184431.jpg);
    opacity: 2;
    color: white;  
    font-weight: bolder;  
    font-size: larger;
}
.do{
    height: 100%;
    width: 10%;
    border-radius: 1000px;
    min-height: min-content;
}
.pinki{
    background-image: url(../image/ame.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    font-weight: bolder;
    font-display: 20px;
}
.what-we-do{
     display: flex; 
     padding: 30px;
    text-align: center;
    font-style:white  ;
    
}
/* .halima{
    display: flex;
    color: dark black;
    border-radius: 10px; */
}
.our{
    text-align: center;
    color: black;
    font-family: larger;
    font-weight: bold;
}
.hab{
    text-align: center;
    columns: black;
}
.vision{
    /* background-color: rgba(255, 255, 255, 0.456); */
    width: 40%;
    height: 70%;
    font-size: larger;
}
.mis{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: larger;
    height: 30%;
}
.mission{
    height: 50%;
}
.on{
    text-align: center;
    /* font-size: larger; */
    height: 30%;
}

/* .nav{
    font-size: larger;
    font-weight: bold;
    color: white;
} */
.habib{
     background-image: url(..); 
}


.mission{
    /* background-color: rgba(255, 255, 255, 0.456);  */
    width: 50%;
    height: 50%;
    font-size: larger;
    /* padding: 50px; */
    text-align: center;
}
.halima{
    display: flex;
    /* padding-right: 20px; */
    padding: 50px;
    background-image: url(../image/ba.webp);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}
.blue{
     /* background-image: url(../image/raback.jpg); */
    background-repeat: no-repeat;
    background-color:yellow;
    background-size: cover;
}